* {
  box-sizing: border-box;
}

/* Container Styling */

header {
  padding: 30px 0;
  width: 100%;
  text-align: center;
  color: white;
  background-image: linear-gradient(to left, #23965E 0%, #1D5A93 100%);
}

.container {
  width: 98%;
  margin: 0 auto;
}

/* Search Form Styling */

form {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center
}

input {
  border-radius: 2px
}

input[type="text"] {
  font-size: 1.6em;
  width: 100%;
  padding: 10px;
  border: solid 1px gray;
}

button[type="submit"] {
  font-size: 1.6em;
  padding: 10px;
  margin-left: 15px;
  background: #23965E;
  color: #fff;
  border: none;
  border-radius: 2px
}

/* Table Styling */

table {
  width: 100%;
}

td {
  padding: 10px;
}

/* Star Button Style */

.star-btn {
  background: none;
  border: none;
  color: #999;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.2s ease;
}

.star-btn:hover {
  color: rgb(55, 70, 54);
}

/* Favorites Component */

.favorites {
  background: #F7FEFA;
}

.favorites-header {
  color: #23965E;
  padding: 15px 0;
}

.favorites-header h2 {
  margin: 0;
}

.favorite {
  color: #23965E;
}